<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897091925620-6af29i7d9ifsf7hpaqhbh8b61sdh0tgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897091925620-6af29i7d9ifsf7hpaqhbh8b61sdh0tgc</string>
	<key>API_KEY</key>
	<string>AIzaSyABYluLzBmpCyGJL8-nR3WXxb4zpZTGlLU</string>
	<key>GCM_SENDER_ID</key>
	<string>897091925620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amywichelow.Camera-Detection-Prototype</string>
	<key>PROJECT_ID</key>
	<string>beautyblend-26cff</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyblend-26cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897091925620:ios:24117d81d4e96dff</string>
	<key>DATABASE_URL</key>
	<string>https://beautyblend-26cff.firebaseio.com</string>
</dict>
</plist>